@import "bootstrap/bootstrap";
@import "_layout.scss";
@import "_index.scss";
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 1075px;
    }
}


.home-stay-img {
    padding-top: 200px;
}
@media (min-width: 992px) {
    .home-input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .home-input-group-button {
        width: 15% !important;
        height: 48px !important;
    }
    .form-select-lg {
        width: 25% !important;
    }
    .col-lg-11 {
        width: 90% !important;
    }
}
.h-stay {
    height: 140px;
}
.tooo {
    width: 5% !important;
    transform: translateY(12%);
}
.personcard {
    width: 98% !important;
}
@media (min-width: 768px) {
    .personcard {
        width: 48% !important;
    }
}

.timeline-section {
	position: relative;
    display: flex;
}

.timeline-section::after {
	content:"";
	position: absolute;
	left: 3%;    
	right: 3%;
	height: 3px; 
	background-color: #D54100;
}

.timeline-pointer{
    position: relative;
    display: flex;
    justify-content: center;
}

.timeline-pointer::before {
	content:"";
	position: absolute;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(50%,-25%);
	background-color: #D54100;
}
.reservation-card {
    border: 0;
    margin: 6px;
    width: 82px;
    height: 82px;
    color: #888888;
}
a:hover {
    .reservation-card {
        border:solid 2px $secondary !important;
        span {
            color: $success !important;
        }
        p {
            color: $primary !important;
        }
    }
}
.daynum {
    width: 80%;
    height: 40px;
    margin-bottom: 1rem;
    margin-right: 3px;
}
.select-width {
    width: 25%;
}

.login-button {
    background: 0;
    border: 1px solid #CED4DA;
    align-items: center;
}
@media (min-width: 992px) {
    .login-container {
        max-width: 58.5%;
    }
    .w-lg-50 {
        width: 49% !important;
    }
}

// modal-rwd

